
<ion-content>
  <ion-searchbar #searchbar class="searchbar" (click)="openList(searchbar)"></ion-searchbar>
  <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <div class="list">
    <button class="list__close" (click)="closeList()"></button>

    <div *ngFor="let foodtruck of foodtrucks" (click)="openDescription(foodtruck)" class="list__item">
      <figure>
        <img [src]="foodtruck.logo" [alt]="foodtruck.name" [title]="foodtruck.name">
      </figure>
      <div class="list__description">
        <h1>{{ foodtruck.name }}</h1>
        <p>Proximidade: {{ foodtruck.distance }}</p>
        <p *ngIf p="foodtruck.isOpen">Aberto</p>
        <p *ngIf p="!foodtruck.isOpen">Fechado</p>
      </div>
    </div>

  </div>
</ion-content>
