<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ foodtruck.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map [zoom]="14" [latitude]="latitude" [longitude]="longitude">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <div class="description">
    <figure class="description__logo">
      <img [src]="foodtruck.logo">
    </figure>
    <div class="description__texts">
      <h1>{{ foodtruck.name }}</h1>
      <p>Dono: {{ foodtruck.owner }}</p>
      <p>Especialidade: {{ foodtruck.speciality }}</p>
      <p *ngIf="foodtruck.location.distance == 0"><span>Proximidade:</span> Menos de 1 km</p>
      <p *ngIf="foodtruck.location.distance > 0"><span>Proximidade:</span> {{ foodtruck.location.distance }} km</p>
      <p>Aberto:
        <span *ngIf="foodtruck.isOpen">Sim</span>
        <span *ngIf="!foodtruck.isOpen">Não</span>
      </p>
      <div class="description__social">
        <ion-icon name="phone"></ion-icon>
        <ion-icon name="email"></ion-icon>
        <ion-icon name="facebook"></ion-icon>
        <ion-icon name="instagram"></ion-icon>
      </div>
    </div>
  </div>

  <div class="description__find">
    <button ion-button full>Traçar rota</button>
  </div>


</ion-content>
